.p-tweet-contents {
  background-color: white;
  display: flex;
  margin-bottom: 50px;
}

.p-tweet-contents:last-of-type {
  margin-bottom: 0;
}


.p-tweet-img-contents {
  width: 40%;
  height: 100%;
}

.p-tweet-article-contents {
  width: 60%;
  height: 100%;
}

.p-tweet-article-contents__item {
  margin: 5px 0px;
}

.p-tweet-article-contents__title {
  font-size: 25px;
}