.p-tweet-contents {
  background-color: #f5f5f5;
  display: flex;
  margin-bottom: 5vh;
}

.p-tweet-contents:last-of-type {
  margin-bottom: 0;
}


.p-tweet-img-contents {
  width: 40%;
  height: 100%;
}


.p-tweet-article-contents {
  width: 60%;
  height: 100%;
}

.p-tweet-article-contents__item {
  margin: 1vh 0px;
}

.p-tweet-article-contents__title {
  font-size: 2vw;
}