.p-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color:#f5f5f5;
  position: relative;
}

.p-header__contents--right {
  margin-right: 3vw;
}

.p-header a {
  color: black;
}

.p-header__contents--right ul > li{
  display: inline-block;
}

.p-header__contents--right ul > li > a{
  padding: 15px 30px;
  display: block;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.p-header__contents--right ul > li:hover > a{
  background-color: #d3d3d3;
}

/* Submenu */

.p-header__contents--right ul li ul{
  position: absolute;
  top: 50px;
  right: 1vw;
}

.p-header__contents--right ul li ul li{
  display: block;
}

.p-header__contents--right ul li ul li a{
  background-color: #d3d3d3;
}

.p-header__contents--right ul li ul li a:hover{
  background-color: #ddd;
}

.p-header__contents--right ul li ul{
  display: none;
}

.p-header__contents--right ul li:hover ul {
  display: block;
}
