// $color: white;
// div.p-tweet-contents {
//   @if $color == white {
//     background-color: white;
//   }
// }


.p-section__top-img {
  background-image: image-url('top_head2.jpg');
  width: 100%;
  height: 60vh;
  /* (画像の高さ / 画像の横幅) × 100 */
  // padding-top: 66.6666666667%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.p-section__top-img p{ 
  font-size: 4vw;
  color: white;
}



.p-section__tweets-list {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

.p-search-title {
  font-size: 2vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: 5vh 0;
}


.p-new-btn {
  position: fixed;
  bottom: 5vh; 
  right: 2vw;
}