.p-new-message__table {
    margin: 10vh auto;
    width: 30vw;
}

.p-new-message__table th {
  border:1px solid #000066;
  background-color: #dcdcdc;
}
 
.p-new-message__table td {
  border:1px solid #000066;
}

.p-new-message__table tr {
  height: 5vh;
}

.p-new-message__table  {
  th {
    width: 30%;
    padding: 1vh 1vw;
  }
  td {
    width: 70%;
    padding: 1vh 1vw;
  }
} 

.p-new-message__form {
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
}

.p-new-message__form {
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  text-align: center;
}

.p-new-message__message-input {
  width: 40vw;
  height: 40vh;
  padding: 1vh 1vw;
}


.p-new-message__send-btn {
  width: 20vw;
  margin: 2vh 0;
}


