.p-user-show-body-container {
  background-color: #e6e6fa;
}

.p-user-room-list {
  width:70vw;
  margin-top: 10vh;
  margin-bottom: 7vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: white;
}

.p-user-room-list h1 {
  font-size: 30px;
  background-color: #e6e6fa;
}


.p-user-room__container {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  padding:5vh 0;
  text-align: left;
}


.p-user-room__container span {
  font-size: 11px;
  color: red;
}

.p-user-room-tweet-list-caution {
  text-align: center;
}

