.p-user-room-list {
  border: 1px solid black;
  width:70vw;
  margin-top: 10vh;
  margin-bottom: 7vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: white;
}

.p-user-room-list h1 {
  font-size: 2vw;
}

.p-user-room__no-message {
  text-align: center;
}


.p-user-room__container {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  padding:5vh 0;
  text-align: left;
}


.p-user-room__container span {
  font-size: 0.5vw;
  color: red;
}

.p-user-room-tweet-list-caution {
  text-align: center;
}

.p-user-room-tweet-list__no-message {
  text-align: center;
}

