.c-section {
  width: 100%;
}

.c-title--black {
  color:black;
}

.c-place--blue {
  color:#4169e1;
}

.c-tag--blue {
  color:#4169e1;
}

.c-username--blue {
  color:#4169e1;
}

.c-form-title {
  text-align: center;
  margin: 40px;
  font-size: 30px;
}

