.c-devise-form__container {
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #ffffe0;
}

.c-devise-form__container h1{
  text-align: center;

  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-weight: bold;
  font-size: 20px;
}


.c-devise-form__error-space {
  padding: 5px;
}

.c-devise-form__section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.c-devise-form__title {
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 18px;
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.c-devise-form__container input {
  width: 98%;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 5px;
  resize: none;
}

.c-devise-form__btn:hover {
  opacity: 0.6;
}